
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0;   
  }
 
  .card {
    width: 300px; 
    height: 500px; 
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex; 
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
 
  .card_content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .card_title {
    font-size: 20px;
    margin-bottom: 10px;
  }
   
  .card_text {
    font-size: 16px;
    color: #555;
  }
  
  
